@import url("https://fonts.googleapis.com/css2?family=Audiowide&display=swap");

html[data-theme='dark'] {
    --primary: #27beff;
    --overlay-primary: rgba(39, 190, 255, 0.231);
    --overlay-secondary: rgba(147, 35, 35, 0.22);
    --page-background-dark: #1a1a1a;
    --page-background-light: #3a3a3a;
    --text: #9a9a9a;
    --footer-text: #bcbcbc;
    --modal-text: #bcbcbc;
    --modal-background: #202020;
    --button-gradient-dark: #202020;
    --button-gradient-light: #404040;
    --button-gradient-dark-alt: #282828;
    --button-gradient-light-alt: #393939;
    --control-label: #27beff;
    --control-label-text-shadow: 0 0 5px var(--primary);
    --control-shadow: #101010;
    --control-inactive-background: #101010;
    --control-inactive-text: #191919;
    --control-inactive-text-shadow: 0 0 2px #212121;
    --icon-glow: drop-shadow(0 0 5px var(--primary));
    --screen-background: #00262c;
    --screen-outer-shadow: #151515;
    --screen-inner-shadow: #050505;
    --screen-gradient-outer: #000801;
    --screen-background-lines: rgba(71, 212, 255, 0.05);
    --screen-text: #27beff;
    --screen-text-shadow: 0 0 5px var(--primary);
    --beat-light-active: #f28007;
    --beat-light-inactive-background: #1a1a1a;
    --beat-light-inactive-shadow-dark: #0f0f0f;
    --beat-light-inactive-shadow-light: #262626;
    --volume-inactive-shadow-dark: #0f0f0f;
    --volume-inactive-shadow-light: #262626;
    --trackbar-background: #191919;
    --track-toggle-highlight-dark: #451414;
    --track-toggle-highlight-light: #831c1c;
    --track-toggle-shadow: 0px 5px 9px var(--control-shadow);
    --title-text: var(--primary);
    --title-background: none;
    --title-background-clip: none;
    --title-text-shadow: 0 0 5px var(--primary);
}

html[data-theme='light'] {
    --primary: #f8333c;
    --overlay-primary: #777;
    --overlay-secondary: #777;
    --page-background-dark: #dcdcdc;
    --page-background-light: #f8f8f8;
    --text: #303030;
    --footer-text: #202020;
    --modal-text: #202020;
    --modal-background: #dcdcdc;
    --button-gradient-dark: #dcdcdc;
    --button-gradient-light: #fcfcfc;
    --button-gradient-dark-alt: #dfdfdf;
    --button-gradient-light-alt: #f9f9f9;
    --control-label: #202020;
    --control-label-text-shadow: none;
    --control-shadow: #707070;
    --control-inactive-background: #d5d5d5;
    --control-inactive-text: #d5d5d5;
    --control-inactive-text-shadow: none;
    --icon-glow: none;
    --screen-background: #6cf6af;
    --screen-outer-shadow: #707070;
    --screen-inner-shadow: #808080;
    --screen-gradient-outer: #9effd6;
    --screen-background-lines: rgba(71, 212, 255, 0.4);
    --screen-text: #053e56;
    --screen-text-shadow: none;
    --beat-light-active: #31ff9f;
    --beat-light-inactive-background: #555;
    --beat-light-inactive-shadow-dark: #222;
    --beat-light-inactive-shadow-light: #6a6a6a;
    --volume-inactive-shadow-dark: #0f0f0f;
    --volume-inactive-shadow-light: #262626;
    --trackbar-background: #4d4d4d;
    --track-toggle-highlight-dark: #888;
    --track-toggle-highlight-light: #d5d5d5;
    --track-toggle-shadow: 0px 5px 9px #3c3c3c;
    --title-text: transparent;
    --title-background: #252525;
    --title-background-clip: text;
    --title-text-shadow: 0px 5px 5px rgba(255, 255, 255, 0.3);
}

html {
    height: 100%;
}

body {
    font-family: "Audiowide", -apple-system, BlinkMacSystemFont, "Segoe UI",
        "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
        "Helvetica Neue", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: var(--text);
    display: flex;
    justify-content: center;
    background: linear-gradient(0deg, var(--page-background-dark), var(--page-background-light));
    height: 100%;
    margin: 0;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

h1 {
    margin: 0;
}

#root {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
        monospace;
}

.appMainContainer {
    display: flex;
    flex-direction: column;
    grid-gap: 10px;
    margin-top: 10px;
    width: 95%;
}

/* MAIN CONTROL PANEL STYLES */

.controlPanel {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-gap: 10px;
    align-items: center;
    justify-items: center;
    /* border-top: 10px solid var(--overlay-secondary);
    border-radius: 20px;
    border-bottom: 10px solid var(--overlay-secondary); */
    padding: 5px 0 10px;
}

.controlLabel {
    font-size: 12px;
    color: var(--overlay-primary);
    display: flex;
    flex-basis: 100%;
    align-items: center;
    margin: 4px 0px;
}

.controlLabel:before,
.controlLabel:after {
    content: "";
    background: var(--overlay-primary);
    height: 3px;
    flex-grow: 1;
    margin: 0px 4px;
}

.controlLabel:before {
    border-radius: 20px 0 0 20px;
}

.controlLabel:after {
    border-radius: 0 20px 20px 0;
}

.buttonLabelContainer {
    width: 100%;
    max-width: 100px;
}

.tempoLabelContainer {
    width: 60%;
    margin-top: -5px;
    margin-bottom: -10px;
}

.volumeLabelContainer {
    width: 60%;
    margin-top: -5px;
    margin-bottom: -10px;
}

/* CONTROL PANEL MOBILE LAYOUT */

.playButton {
    order: 2;
    grid-column: 1 / 5;
    justify-self: end;
}

.stopButton {
    order: 3;
    grid-column: 5 / 9;
}

.muteButton {
    order: 4;
    grid-column: 9 / 13;
    justify-self: start;
}

.playLabelContainer {
    order: 5;
    grid-column: 1 / 5;
    justify-self: end;
}

.stopLabelContainer {
    order: 6;
    grid-column: 5 / 9;
}

.muteLabelContainer {
    order: 7;
    grid-column: 9 / 13;
    justify-self: start;
}

.globalVolumeControl {
    order: 8;
    grid-column: 1/7;
}

.tempoControl {
    order: 9;
    grid-column: 7/13;
}

.volumeLabelContainer {
    order: 10;
    grid-column: 1/7;
}

.tempoLabelContainer {
    order: 11;
    grid-column: 7/13;
}
.visualiserContainer {
    order: 12;
    grid-column: 1/13;
}

/* CONTROL PANEL BUTTON STYLES */

.toggleButton {
    aspect-ratio: 1;
    border-radius: 10%;
}

.controlPanelToggle {
    aspect-ratio: 1;
    border-radius: 25%;
    width: 100%;
    max-width: 100px;
    cursor: pointer;
    padding: 0;
    border: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background: linear-gradient(0deg, var(--button-gradient-dark), var(--button-gradient-light));
    box-shadow: 0px 5px 9px var(--control-shadow);
}

.controlPanelToggleInner {
    height: 85%;
    aspect-ratio: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    border-radius: 25%;
    border: 0px;
    background: linear-gradient(180deg, var(--button-gradient-dark-alt), var(--button-gradient-light-alt));
    color: var(--control-label);
    font-family: "Audiowide";
    font-size: 1.5rem;
}

.svg-inline--fa {
    filter: var(--icon-glow);
}

.controlPanelButton {
    aspect-ratio: 1;
    border-radius: 25%;
    width: 100%;
    max-width: 100px;
    cursor: pointer;
    padding: 0;
    border: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background: linear-gradient(0deg, var(--button-gradient-dark), var(--button-gradient-light));
    box-shadow: 0px 5px 9px var(--control-shadow);
}

.controlPanelButtonInner {
    height: 85%;
    aspect-ratio: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    border-radius: 25%;
    border: 0px;
    background: linear-gradient(180deg, var(--button-gradient-dark-alt), var(--button-gradient-light-alt));
    color: var(--control-label);
    font-family: "Audiowide";
    text-shadow: var(--control-label-text-shadow);
    font-size: 1.5rem;
}

.globalVolumeControl {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 80%;
    width: 100%;
}

.volumeDisplay {
    display: grid;
    justify-content: space-evenly;
    align-items: end;
    height: 80%;
    max-height: 30px;
    grid-template-columns: repeat(5, 1fr);
    grid-column-gap: 5px;
}

.volumeDisplayBar {
    border-radius: 5px;
    width: 5px;
}

.volumeInactive {
    background-color: var(--control-inactive-background);
    box-shadow: inset 0 -2px 5px var(--volume-inactive-shadow-dark), inset 0 2px 5px var(--volume-inactive-shadow-light);
}

.volumeActive {
    background-color: var(--primary);
    box-shadow: 0 0 5px var(--primary);
}

.volumeTwenty {
    height: 20%;
}
.volumeForty {
    height: 40%;
}
.volumeSixty {
    height: 60%;
}
.volumeEighty {
    height: 80%;
}
.volumeHundred {
    height: 100%;
}

.volumeButton {
    aspect-ratio: 1;
    border-radius: 50%;
    min-width: 25px;
    cursor: pointer;
    padding: 0;
    border: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background: linear-gradient(0deg, var(--button-gradient-dark), var(--button-gradient-light));
    box-shadow: 0px 5px 9px var(--control-shadow);
}

.volumeButtonInner {
    height: 80%;
    aspect-ratio: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    border-radius: 50%;
    border: 0px;
    background: linear-gradient(180deg, var(--button-gradient-dark), var(--button-gradient-light));
    color: var(--control-label);
    font-family: "Audiowide";
    text-shadow: var(--control-label-text-shadow);
    font-size: 1rem;
}

.volumeButtonInnerInactive {
    height: 80%;
    aspect-ratio: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    border-radius: 50%;
    border: 0px;
    background: linear-gradient(180deg, var(--button-gradient-dark), var(--button-gradient-light));
    color: var(--control-inactive-text);
    font-family: "Audiowide";
    text-shadow: var(--control-inactive-text-shadow);
    font-size: 1rem;
}

/* TEMPO CONTROLS */

.tempoControl {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-items: center;
    grid-row-gap: 5px;
    width: 100%;
}

.tempoDisplay {
    grid-column-start: 1;
    grid-column-end: 5;
    display: flex;
    width: 60%;
    justify-content: center;
    align-items: center;
    min-height: 30px;
    height: 60%;
    background: linear-gradient(var(--button-gradient-light), var(--button-gradient-dark));
    border-radius: 8px;
    box-shadow: 0 2px 3px var(--screen-outer-shadow);
    padding: 3px;
    margin: 5px 0;
}

.tempoDisplayInner {
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--screen-background);
    width: 100%;
    height: 100%;
    border-radius: 5px;
    box-shadow: inset 0 0 15px var(--screen-inner-shadow);
    color: var(--screen-text);
    text-shadow: var(--screen-text-shadow);
}

.tempoButton {
    aspect-ratio: 1;
    border-radius: 50%;
    min-width: 25px;
    cursor: pointer;
    padding: 0;
    border: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background: linear-gradient(0deg, var(--button-gradient-dark), var(--button-gradient-light));
    box-shadow: 0px 5px 9px var(--control-shadow);
}

.tempoButtonInner {
    height: 80%;
    aspect-ratio: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    border-radius: 50%;
    border: 0px;
    background: linear-gradient(180deg, var(--button-gradient-dark), var(--button-gradient-light));
    color: var(--control-label);
    font-family: "Audiowide";
    text-shadow: var(--control-label-text-shadow);
    font-size: 0.8rem;
}

.tempoButtonInnerInactive {
    height: 80%;
    aspect-ratio: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    border-radius: 50%;
    border: 0px;
    background: linear-gradient(180deg, var(--button-gradient-dark), var(--button-gradient-light));
    color: var(--control-inactive-text);
    font-family: "Audiowide";
    text-shadow: var(--control-inactive-text-shadow);
    font-size: 0.8rem;
}

/* VISUALISER STYLES */

.visualiser {
    width: 100%;
    height: 100%;
    border-radius: 25px;
    background-image: linear-gradient(
            var(--screen-background-lines) 1px,
            transparent 1px
        ),
        linear-gradient(to right, var(--screen-background-lines) 1px, transparent 1px);
    background-size: 10px 10px;
}

.visualiserContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    background: linear-gradient(var(--button-gradient-light), var(--button-gradient-dark));
    border-radius: 28px;
    box-shadow: 0 3px 5px var(--screen-outer-shadow);
    padding: 5px;
    margin: 5px 0;
    width: 95%;
    max-width: 500px;
}

.visualiserContainerInner {
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(0deg, var(--screen-gradient-outer) 0%, var(--screen-background) 47%, var(--screen-gradient-outer) 100%);
    width: 100%;
    height: 100%;
    border-radius: 25px;
    overflow: hidden;
    box-shadow: inset 0 0 15px var(--screen-inner-shadow);
}
/* BEAT BAR STYLES */

.beatBar {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-column: 1/3;
    grid-row-gap: 20px;
    border: 5px solid var(--overlay-primary);
    border-radius: 10px;
    padding: 10px 0;
    background: linear-gradient(
                var(--overlay-primary),
                var(--overlay-primary)
            )
            center/100% 2px no-repeat,
        linear-gradient(var(--overlay-primary), var(--overlay-primary))
            center/2px 100% no-repeat;
}

.beatLight {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    color: var(--overlay-primary);
    min-height: 40px;
}

.beatLightActive {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: var(--primary);
    box-shadow: 0px 0px 15px 1px var(--primary);
}

.beatLightInactive {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background: var(--beat-light-inactive-background);
    box-shadow: inset 0 -2px 5px var(--beat-light-inactive-shadow-dark), inset 0 2px 5px var(--beat-light-inactive-shadow-light);
}

/* TRACK BAR STYLES */

.trackBar {
    max-width: 100%;
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-gap: 3px;
    align-items: center;
    background: var(--trackbar-background);
    border-radius: 15px;
    padding: 4px;
}

.trackToggle {
    cursor: pointer;
    padding: 0;
    aspect-ratio: 1;
    border-radius: 25%;
    border: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background: linear-gradient(0deg, var(--button-gradient-dark), var(--button-gradient-light));
    box-shadow: var(--track-toggle-shadow);
}

.trackToggleInner {
    aspect-ratio: 1;
    width: 75%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    border-radius: 50%;
    border: 0px;
    background: linear-gradient(180deg, var(--button-gradient-dark), var(--button-gradient-light));
}

.trackToggleHighlight {
    cursor: pointer;
    padding: 0;
    aspect-ratio: 1;
    border-radius: 25%;
    border: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background: linear-gradient(180deg, var(--track-toggle-highlight-light), var(--track-toggle-highlight-dark));
    box-shadow: var(--track-toggle-shadow);
}

.trackToggleInnerHighlight {
    aspect-ratio: 1;
    width: 75%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    border-radius: 50%;
    border: 0px;
    background: linear-gradient(180deg, var(--track-toggle-highlight-dark), var(--track-toggle-highlight-light));
}

.beatActive {
    background-color: var(--beat-light-active);
    box-shadow: 0px 0px 15px 1px var(--beat-light-active);
    height: 100%;
    width: 100%;
    border-radius: 50%;
}

.beatCurrent {
    background-color: var(--primary);
    box-shadow: 0px 0px 15px 1px var(--primary);
    height: 100%;
    width: 100%;
    border-radius: 50%;
}

.beatInactive {
    border-radius: 7px;
    background: var(--beat-light-inactive-background);
    box-shadow: inset 0 -2px 5px var(--beat-light-inactive-shadow-dark), inset 0 2px 5px var(--beat-light-inactive-shadow-light);
    height: 30%;
    width: 30%;
    border-radius: 50%;
}

.trackDivider {
    grid-column: 2 / 3;
    margin: 0;
    border: 0; /* override default styles */
    border-top: 5px solid var(--overlay-secondary);
    border-radius: 20px;
}

/* TRACK CONTROL PANEL STYLES */

.trackControlPanel {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-gap: 4px;
    align-content: center;
    border-radius: 10px;
    margin: 5px 0;
}

.trackName {
    grid-column-start: 1;
    grid-column-end: 5;
    background: linear-gradient(var(--button-gradient-light), var(--button-gradient-dark));
    box-shadow: 0 2px 3px var(--screen-outer-shadow);
    padding: 3px;
    border-radius: 5px;
}

.trackNameInner {
    font-size: 0.8rem;
    margin: 0;
    background: var(--screen-background);
    width: 100%;
    height: 100%;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: inset 0 0 15px var(--screen-inner-shadow);
    color: var(--screen-text);
    text-shadow: var(--screen-text-shadow);
}

.trackVolumeControl {
    grid-column-start: 1;
    grid-column-end: 5;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.patternShortcut {
    aspect-ratio: 1;
    cursor: pointer;
    padding: 0;
    border: 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: linear-gradient(0deg, var(--button-gradient-dark), var(--button-gradient-light));
    box-shadow: 0px 3px 6px var(--control-shadow);
}

.patternShortcutInner {
    height: 75%;
    aspect-ratio: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background: linear-gradient(180deg, var(--button-gradient-dark-alt), var(--button-gradient-light-alt));
    color: var(--control-label);
    font-family: "Audiowide";
    text-shadow: var(--control-label-text-shadow);
    font-size: 12px;
    border-radius: 2px;
}

.patternShortcutTopLeft {
    border-top-left-radius: 25%;
}

.patternShortcutTopRight {
    border-top-right-radius: 25%;
}

.patternShortcutBottomLeft {
    border-bottom-left-radius: 25%;
}

.patternShortcutBottomRight {
    border-bottom-right-radius: 25%;
}

/* HEADER STYLES */

.headerContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px;
}

.title {
    font-size: 2.5rem;
    color: var(--title-text);
    background: var(--title-background);
    background-clip: var(--title-background-clip);
    text-shadow: var(--title-text-shadow);
    text-align: center;
}

.logo {
    filter: var(--icon-glow);
    max-height: 2rem;
}

/* FOOTER STYLES */

footer {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: 30px;
    font-family: "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans",
        "Droid Sans", "Helvetica Neue", sans-serif;
    color: var(--footer-text);
    line-height: 1.4rem;
}

.footerContainer {
    display: flex;
    flex-direction: column;
    justify-content: start;
    width: 90%;
    padding: 20px 0;
    border-top: 5px solid var(--overlay-secondary);
}

footer a {
    color: var(--primary);
    text-decoration: none;
}

footer a:hover {
    color: var(--primary);
    text-decoration: underline;
}

.footerSpacer {
    display: none;
}

/* HELP BUTTON STYLES */

.helpButton {
    position: fixed;
    bottom: 0;
    right: 2.5%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top-left-radius: 10px;
    cursor: pointer;
    border: 0;
    background: linear-gradient(0deg, var(--button-gradient-dark), var(--button-gradient-light));
    box-shadow: 0px 5px 9px var(--control-shadow);
    padding: 5px;
    border-top-right-radius: 10px;
}

.helpButtonInner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top-left-radius: 10px;
    background: linear-gradient(180deg, var(--button-gradient-dark), var(--button-gradient-light));
    color: var(--primary);
    text-shadow: 0 0 5px var(--primary);
    font-size: 1.5rem;
    padding: 10px;
    border-top-right-radius: 10px;
}

.helpImageContainer {
    text-align: center;
    width: 100%;
}

.helpImage {
    max-width: 80%;
    max-height: 200px;
    border-radius: 15px;
    box-shadow: 0 5px 5px var(--screen-outer-shadow);
}

.modali {
    background-color: transparent !important;
    color: var(--modal-text)
}

.modali-body {
    font-family: Arial, sans-serif;
    font-size: 1.1rem;
    height: 80vh;
    overflow-y: scroll;
    border-radius: 15px !important;
    padding-bottom: 20px;
}

.modali-body p {
    font-family: Arial, sans-serif;
    font-size: 1.1rem;
    margin: 5%;
}

.modali-content,
.modali-body {
    background-color: var(--modal-background) !important;
}

.modali-content,
.modali {
    border-radius: 15px;
}

.modali-close-button {
    background-color: var(--modal-background) !important;
    color: var(--primary) !important;
    opacity: 0.6 !important;
}

.modali-close-button:hover {
    opacity: 1 !important;
}


@media (min-width: 576px) {
    .appMainContainer {
        display: grid;
        grid-template-columns: 1fr 1.5fr;
        grid-gap: 10px;
        margin-top: 10px;
    }

    .controlPanel {
        grid-column-start: 1;
        grid-column-end: 3;
        grid-template-columns: repeat(3, 1fr) 2fr 2fr;
        padding: 5px 0;
    }

    .playButton {
        order: 1;
        grid-column: 1/2;
        min-width: 80px;
    }

    .stopButton {
        order: 2;
        grid-column: 2/3;
        min-width: 80px;
    }

    .muteButton {
        order: 3;
        grid-column: 3/4;
        min-width: 80px;
    }

    .globalVolumeControl {
        order: 4;
        grid-column: 4 / 5;
    }

    .tempoControl {
        order: 5;
        grid-column: 5 / 6;
    }

    .playLabelContainer {
        order: 6;
        grid-column: 1 / 2;
        justify-self: end;
    }

    .stopLabelContainer {
        order: 7;
        grid-column: 2 / 3;
    }

    .muteLabelContainer {
        order: 8;
        grid-column: 3 / 4;
        justify-self: start;
    }

    .volumeLabelContainer {
        order: 9;
        grid-column: 4 / 5;
        width: 100%;
        grid-row: 2 / 3;
        margin: 0;
    }

    .tempoLabelContainer {
        order: 10;
        grid-column: 5/ 6;
        width: 100%;
        grid-row: 2/3;
        margin: 0;
    }

    .visualiserContainer {
        order: 11;
        grid-column: 1 / 6;
        grid-row: 3 / 4;
    }

    .beatBar {
        grid-column: 2/3;
    }

    .trackControlPanel {
        align-self: center;
        margin: 0;
    }

    .footerContainer {
        flex-direction: row;
        align-items: center;
        width: 90%;
    }

    .footerSpacer {
        display: block;
        margin: 0 10px;
        border-radius: 100%;
        background-color: var(--overlay-secondary);
        width: 10px;
        height: 10px;
    }

    .headerContainer {
        flex-direction: column;
        grid-column: 1 / 2;
        grid-row: 2 / 3;
        align-items: center;
        justify-content: space-evenly;
        margin: 0;
    }

    .logo {
        display: block;
        width: 50%;
        max-height: 200px;
    }
}

@media (min-width: 992px) {
    .appMainContainer {
        display: grid;
        grid-template-columns: 1fr 3fr;
        grid-gap: 10px;
        margin-top: 10px;
    }

    .title {
        grid-column: 1 / 2;
    }

    .controlPanel {
        grid-template-columns: repeat(3, 1fr) 2fr 2fr 4fr;
        grid-column-start: 2;
        grid-column-end: 3;
    }

    .visualiserContainer {
        grid-column: 6 / 7;
        grid-row: 1 / 3;
    }

    .trackBar {
        grid-template-columns: repeat(16, 1fr);
        border-radius: 12px;
        padding: 3px;
        align-self: center;
    }

    .beatBar {
        grid-template-columns: repeat(16, 1fr);
        grid-gap: 5px;
        border-radius: 20px;
        background: linear-gradient(
                    var(--overlay-primary),
                    var(--overlay-primary)
                )
                25%/2px 100% no-repeat,
            linear-gradient(var(--overlay-primary), var(--overlay-primary))
                50%/2px 100% no-repeat,
            linear-gradient(var(--overlay-primary), var(--overlay-primary))
                75%/2px 100% no-repeat;
    }

    .headerContainer {
        grid-column: 1 / 2;
        grid-row: 1 / 3;
    }

    .logo {
        width: 70%;
    }
}

@media (min-width: 1200px) {
    .appMainContainer {
        grid-template-columns: 1fr 4fr;
    }

    .trackBar {
        border-radius: 15px;
    }

    .trackDivider {
        margin: 5px 0;
    }
}
